<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383850825873-n4a3htbc83lfvbv0jh7041p6c4v5rqmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383850825873-n4a3htbc83lfvbv0jh7041p6c4v5rqmd</string>
	<key>API_KEY</key>
	<string>AIzaSyAFn4iaBZaM700mqBKcNNzO9U9ay-QPtZo</string>
	<key>GCM_SENDER_ID</key>
	<string>383850825873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urstawebsolutions.WhiskeyChatter</string>
	<key>PROJECT_ID</key>
	<string>whiskeychatter</string>
	<key>STORAGE_BUCKET</key>
	<string>whiskeychatter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383850825873:ios:b52ce9cba4ed00d4791730</string>
</dict>
</plist>